<tr>
	<td><%= result["geoname_id"] || result["geonameId"]%></td>
  <td><%= result["country_name"] || result["countryName"]%></td>
  <td><%= result["lat"] %></td>
  <td><%= result["lng"] %></td>
  <td><%= result["name"] %></td>
	<td><%= result["population"] %></td>
	<td><%= result["elevation"] %></td>
</tr>

